---
import { getCollection } from 'astro:content';
import BlogLayout from '../../components/BlogLayout.astro';
import BlogPostCard from '../../components/BlogPostCard.astro';

const posts = await getCollection('blog');
const sorted = posts.sort((a,b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
const tags = Array.from(new Set(posts.flatMap(p => p.data.tags || [])));
---
<BlogLayout>
  <h1>Blog</h1>
  <input id="blog-search" type="search" placeholder="Search posts..." />
  <div class="tag-cloud">
    {tags.map(t => <a href={`/blog/tags/${t}/`}>{t}</a>)}
  </div>
  <div id="posts-list">
    {sorted.map(post => <BlogPostCard post={post} />)}
  </div>
  <script src="/js/blog-search.js" defer></script>
  <style>
    .tag-cloud a { margin-right: 0.5rem; }
  </style>
</BlogLayout>
