<section class="slider-area ">
    <div class="slider-active">
        <div class="single-slider slider-bg d-flex align-items-center " >
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 ">
                        <div class="slider-content">
                            <h1 class='text-dark' data-animation="fadeInDown" data-delay=".2s">Hello, Pleased to meet you!</h1>
                            <h1 data-animation="fadeInDown" data-delay="1.2s"><span>Welcome to my portfolio</span></h1>
                            
                            <div class='row ml-2'>
                                <a href="#" class="btn mr-2" data-animation="fadeInUp" data-delay="2s">Hire Me</a>
                                <a href="#" class="btn" data-animation="fadeInUp" data-delay="2.5s">Lets get in touch</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      
    </div>
</section>