<section class="testimonial-area pt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="testimonial-active owl-carousel">
                    <div class="single-item testimonial-items text-center">
                        <div class="client-text">
                            Josh has an encyclopedic knowlege of all of our code, why we do things a certian way and why and is a valuable resource to our team. 
                        </div>
                        
                        <h4></h4>
                        <span>Team Lead</span>
                    </div>
               
                    <div class="single-item testimonial-items text-center">
                        <div class="client-text">
                            Hard working and a fast learner, can always adapt and overcome any challenges thrown his way.
                        </div>
                        
                        <h4></h4>
                        <span>Team Lead</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>