---
// Homepage structured with Carbon sections
import BaseHead from '../components/BaseHead.astro';
import CustomHeader from '../components/CustomHeader.astro';
import CustomFooter from '../components/CustomFooter.astro';
import IndexPage from '../content/docs/index.mdx';
---

<html lang="en">
  <head>
    <BaseHead />
  </head>
  <body>
    <CustomHeader />
    <main id="main-content">
      <IndexPage />
    </main>
    <CustomFooter />
  </body>
</html>