---
import DocLayout from '../components/DocLayout.astro';
---
<DocLayout>
  <section class="container py-5 text-center">
    <h1>Client Login</h1>
    <p>TODO: Integrate Firebase Authentication here.</p>
  </section>
</DocLayout>
