---
import '../styles/global.css';

import { Navbar4 } from '../components/layout/Navbar4';
import { Footer4 } from '../components/layout/Footer4';


const { title = 'Blue Frog Analytics' } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
                <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
                <title>{title}</title>
        </head>
        <body>
                <Navbar4 client:load />
                <slot />
                <Footer4 />
        </body>
</html>
