---
import '../styles/global.css';

import { Navbar3 } from '../components/layout/Navbar3';
import { Footer4 } from '../components/layout/Footer4';


const { title = 'Blue Frog Analytics' } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="apple-touch-icon" href="/favicons/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16.png" />
    <link rel="icon" type="image/svg+xml" href="/favicons/favicon.svg" />
    <link rel="manifest" href="/favicons/manifest.json" />
    <meta name="msapplication-TileColor" content="#1f75fe" />
    <meta name="msapplication-config" content="/favicons/browserconfig.xml" />
    <meta name="theme-color" content="#1f75fe" />
    <title>{title}</title>
  </head>
  <body>
    <header>
      <Navbar3 client:load />
    </header>
    <main id="main-content">
      <slot />
    </main>
    <Footer4 />
  </body>
</html>
