---
import Layout from '../../../layouts/dashboard.astro';
export const title = 'Specification - Products'
---
<Layout title={title}>

<section class="py-8">
  <div class="max-w-3xl mx-auto text-center space-y-4">
    <h1 class="text-3xl font-bold">Products</h1>
    <p>Product specifications will be provided here.</p>
  </div>
</section>
</Layout>
