---
import BaseHead from './BaseHead.astro';
import CustomHeader from './CustomHeader.astro';
import CustomFooter from './CustomFooter.astro';
---
<html lang="en">
  <head>
    <BaseHead />
  </head>
  <body class="d-flex flex-column min-vh-100">
    <CustomHeader />
    <main id="main-content" class="container pt-5 flex-grow-1">
      <slot />
    </main>
    <CustomFooter />
  </body>
</html>
