---
import BaseHead from './BaseHead.astro';
import CustomHeader from './CustomHeader.astro';
import CustomFooter from './CustomFooter.astro';
---
<html lang="en">
  <head>
    <BaseHead />
  </head>
  <body>
    <CustomHeader />
    <main id="main-content" class="container pt-4">
      <slot />
    </main>
    <CustomFooter />
  </body>
</html>
