---
import config from 'virtual:starlight/user-config';

import LanguageSelect from 'virtual:starlight/components/LanguageSelect';
import Search from 'virtual:starlight/components/Search';
import SiteTitle from 'virtual:starlight/components/SiteTitle';
import SocialIcons from 'virtual:starlight/components/SocialIcons';
import ThemeSelect from 'virtual:starlight/components/ThemeSelect';

// Define main navigation links
const mainNav = [
  { label: 'Home', link: '/' },
  { label: 'About', link: '/about/' },
  { label: 'Services', link: '/services/' },
  { label: 'Tests', link: '/testing/' },
  { label: 'Documentation', link: '/introduction/how-blue-frog-analytics-works' },
];

// Check if search should be displayed
const shouldRenderSearch =
  config.pagefind || config.components.Search !== '@astrojs/starlight/components/Search.astro';
---

<div class="bx--header" aria-label="Blue Frog Analytics">
  <link rel="sitemap" href="/sitemap-index.xml" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.15.1/dist/katex.css" integrity="sha384-WsHMgfkABRyG494OmuiNmkAOk8nhO1qE+Y6wns6v+EoNoTNxrWxYpl5ZYWFOLPCM" crossorigin="anonymous">

  <!-- Left: Logo -->
  <div class="bx--header__name">
    <SiteTitle />
  </div>

  <!-- Center: Main Navigation -->
  <nav class="bx--header__nav">
    <ul class="bx--header__menu-bar">
      {mainNav.map((item) => (
        <li><a class="bx--header__menu-item" href={item.link}>{item.label}</a></li>
      ))}
    </ul>
  </nav>

  <!-- Right: Search & Icons -->
  <div class="bx--header__global">
    {shouldRenderSearch && <Search />}
    <SocialIcons />
    <ThemeSelect />
    <LanguageSelect />

  </div>
</div>
