---
import BlogPostCard from './BlogPostCard.astro';
const { posts = [] } = Astro.props;
const [first, second, third] = posts;
---
<div class="featured-hero">
  <div class="row g-3">
    <div class="col-lg-8 featured-main">
      {first && <BlogPostCard post={first} />}
    </div>
    <div class="col-lg-4 d-grid gap-3">
      {second && <BlogPostCard post={second} />}
      {third && <BlogPostCard post={third} />}
    </div>
  </div>
</div>
<style>
.featured-main .blog-card {
  height: 100%;
}
.featured-hero .blog-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
</style>
