---
const { posts = [] } = Astro.props;
---
<aside class="recent-posts">
  <h3 class="bx--type-productive-heading-02">Recent Posts</h3>
  <ul class="bx--list--unordered">
    {posts.map(p => (
      <li><a href={`/blog/${p.slug}`} class="bx--link">{p.data.title}</a></li>
    ))}
  </ul>
</aside>
