---
import Layout from '../layouts/main.astro';
import { Integration10 } from '../components/sections/Integration10';
export const title = "Integrations"
---
<Layout title={title}>
  <section class="container py-8">
    <p class="mb-6">
      We currently provide CSV exports, API access and a self-serve portal as
      options for getting your data out of the platform.
    </p>
  </section>
  <Integration10 client:load />
</Layout>
