{{ define "main" }}

    <!-- Identify if it's the homepage -->
    {{ $pages := slice }} <!-- Declare variable outside of if block -->
    
    {{ if eq .RelPermalink "/" }}
        {{ $pages = where .Site.RegularPages "Section" "docs" }}
    {{ else }}
        {{ $pages = where .Site.RegularPages "Section" "pages" }} <!-- Custom section for new pages -->
    {{ end }}

    <!-- Loop through pages and render content -->
    {{ range sort $pages "Params.weight" }}
        <h1>{{ .Title }}</h1>
        <p>{{ .Params.description }}</p>
        <div>{{ .Content }}</div>
    {{ end }}

{{ end }}
