<!DOCTYPE html>
<html lang="en" >

<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css" integrity="sha256-7VVaJ5GDwFQiLIc+eNksQLUSSY5JNZtqv9o2BI8UGYg=" crossorigin="anonymous" />
  <meta charset="UTF-8">
  <title>LaunchLibrary Display</title>
  
  
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'>

      <link rel="stylesheet" href="./style.css">

  
</head>

<body>
  <div id='app'>   <!-- start app -->

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">Launch Calendar</a>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          
        </li>
      </ul>
    </div>
  </nav>

  <!-- Page Content -->
  <div class=" py-5 bg-dark px-5 text-light">

    <!-- Page Heading -->
    <h1 class="my-4">Upcoming Launches
    </h1>

    <!-- Project One -->
    <div class="row py-5 px-5" v-for='event in info'>
<div class="col-md-7 ">
  <!-- Rocket image -->
  <a href="#" v-if="event.name.includes('Falcon')">
    <img class="img-fluid rounded mb-3 mb-md-0" v-bind:src=" image.rocket.falcon9" alt="">
  </a>
  <a href="#" v-if="event.name.includes('Soyuz')">
    <img class="img-fluid rounded mb-3 mb-md-0" v-bind:src=" image.rocket.soyuz" alt="">
  </a>
  <a href="#" v-if="event.name.includes('Electron')">
    <img class="img-fluid rounded mb-3 mb-md-0" v-bind:src=" image.rocket.electron" alt="">
  </a>
  <a href="#" v-if="event.name.includes('LauncherOne')">
    <img class="img-fluid rounded mb-3 mb-md-0" v-bind:src=" image.rocket.launcherone " alt="">
  </a>
  <a href="#" v-if="event.name.includes('Ariane')">
    <img class="img-fluid rounded mb-3 mb-md-0" v-bind:src=" image.rocket.ariane5 " alt="">
  </a>
  <a href="#" v-if="event.name.includes('PSLV')">
    <img class="img-fluid rounded mb-3 mb-md-0" v-bind:src=" image.rocket.pslv " alt="">
  </a>
  <a href="#" v-if="event.name.includes('Hyperbola')">
    <img class="img-fluid rounded mb-3 mb-md-0" v-bind:src=" image.rocket.hyperbola1 " alt="">
  </a>
  <a href="#" v-if="event.name.includes('Long March 2C')">
    <img class="img-fluid rounded mb-3 mb-md-0" v-bind:src=" image.rocket.longmarch2c " alt="">
  </a>
  <a href="#" v-if="event.name.includes('Kuaizhou')">
    <img class="img-fluid rounded mb-3 mb-md-0" v-bind:src=" image.rocket.kuaizhou1A " alt="">
  </a>
  <a href="#" v-if="event.name.includes('SSLV')">
    <img class="img-fluid rounded mb-3 mb-md-0" v-bind:src=" image.rocket.sslv " alt="">
  </a>
  <a href="#" v-if="event.name.includes('Proton-M')">
    <img class="img-fluid rounded mb-3 mb-md-0" v-bind:src=" image.rocket.protonm " alt="">
  </a>
  <a href="#" v-if="event.name.includes('Atlas V')">
    <img class="img-fluid rounded mb-3 mb-md-0" v-bind:src=" image.rocket.atlasv " alt="">
  </a>
  <a href="#" v-if="event.name.includes('Rokot')">
    <img class="img-fluid rounded mb-3 mb-md-0" v-bind:src=" image.rocket.rokot " alt="">
  </a>
  <a href="#" v-if="event.name.includes('Delta IV')">
    <img class="img-fluid rounded mb-3 mb-md-0" v-bind:src=" image.rocket.deltaiv " alt="">
  </a>
  <a href="#" v-if="event.name.includes('Pegasus XL')">
    <img class="img-fluid rounded mb-3 mb-md-0" v-bind:src=" image.rocket.pegasusxl " alt="">
  </a>
  <a href="#" v-if="event.name.includes('H-IIB')">
    <img class="img-fluid rounded mb-3 mb-md-0" v-bind:src=" image.rocket.HIIB " alt="">
  </a>

</div>


      <div class="col-md-5 text-capitalize ">
        <h3>{{event.name}}</h3>
        <h5>{{event.net}}</h5>
      
       
  <!--  Timer Component  -->
  <Timer id="timer" class='timer col' v-bind:endtime='event.net'
        
         trans='{  
         "day":"Day",
         "hours":"Hours",
         "minutes":"Minutes",
         "seconds":"Seconds",
         "expired":"Launch Complete.",
         "running":"Time until launch",
         "upcoming":"Launch date pending",
         "status": {
            "expired":"Expired",
            "running":"On schedule",
            "upcoming":"Future"
           }}'
         ></Timer>
  <!--  End! Timer Component  -->

  <div class='row'>

  
      <!-- Location OBJ -->
      <div class='col bg-primary '>
        <h3>Pad</h3>
       <div  v-for='(value, key) in event.location.pads'>
           <div v-for="(value, key) in value" class='is-capitalized'> 
             <p v-if="value!=false && key!='id'">{{key}} :   {{value}} </p>
         </div>
         </div>
         <div v-for='(value, key,index) in event.location.pads.agencies'>
           <p v-if="key=='name'">{{value}}</p>
           <p v-if="key=='countryCode'">{{value}}</p>       
          </div>
      </div>
       
      <!-- Rocket OBJ -->
      <div class=' bg-secondary'>
        <h3>Rocket</h3>
      <div class='text-capitalize' v-for='(value, key, index) in event.rocket'>
         <p v-if="key && value && key!='imageURL'&& key!='imageSizes'">{{key}} {{value}} </p>
      </div>
      </div>
      
      <!-- Mission OBJ -->
      <div class=' bg-primary'>
        <h3>Mission</h3>
       <div v-for="(value, key) in event.missions[0]">
         <p v-if="key && value!=0 && value!=null && key!='payloads'">{{key}} {{value}} </p>
      </div>
      </div>
      
             <!-- LSP OBJ -->
      <div class=' bg-secondary'>
        <h3>launch service provider</h3>
       <div v-for="(value, key) in event.lsp">
         <p v-if="key && value && key!='id' && key!='type' && key!='infoURLs' && key!='changed'">{{key}} {{value}} </p>
      </div>
      </div>
      
    </div>   
</div>
     
        
  
      
        
        
        
        
        
        </div>

  </div><!-- end Page Content -->


</div>  <!-- end app -->
  
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.2/vue.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js'></script>

  

    <script  src="./script.js"></script>




</body>

</html>
