---
import MainLayout from '../../layouts/main.astro';
import { getEntryBySlug, getCollection } from 'astro:content';

export async function getStaticPaths() {
  const posts = await getCollection('blog');
  return posts.map(post => ({ params: { slug: post.slug } }));
}

const { slug } = Astro.params;
const post = await getEntryBySlug('blog', slug);
if (!post) throw new Error('Post not found');
const { Content } = await post.render();
---
<MainLayout title={post.data.title}>
  <article class="prose mx-auto py-8">
    <h1 class="mb-4 text-3xl font-bold">{post.data.title}</h1>
    <Content />
  </article>
</MainLayout>
